html
  head
    style
      include ../public/css/style.css
  body
    <div class="container">
      h1 CS 411 Prototype
      p Here are some restaurants in your area

      <div class="container">
        <ul>
          each item in data
            li= item 
        </ul>
      </div>
    </div>